.background{
    background: #efefef;
}

.commentNameClickable{
    color: black;
    text-decoration: none;
}

.headerLogo{
    width: 20x;
    height: 20px;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.header{
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    position: relative;
    background-color: #5ba5ef;
    height: 50px;
}

.header a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    font-family: Tahoma;
}

#logout{
    float: right;
}

.header a:hover{
    background-color: #6493c1;
    color: white;
    height: 50px;
}

.header input[type=text]{
    float: left;
    padding: 4px 4px;
    border: none;
    margin-top: 12px;
    margin-right: 16px;
    margin-left: 292px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    width: 500px;
    
}

.border{
    background: white !important;
    border-style: solid !important;    
    border-radius: 10px !important;
    border-width: thin !important;
    border-color: black !important;
}

#info{
    display:flex;
    flex-direction: row;
    height: 75px;
}

#avatarDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#avatarImg{
    position: relative;
    height: 50px;
    float: left;
    border-radius: 20px;
    margin-left: 10px;
}

.title{
    font-size: 35;
}

.vote{
    position: relative;
    float:right;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.voteComment{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.sharing{
    position: relative;
    margin-right: 5px;
    padding: 5px;
    border-right: .5px solid grey;
}

.profile{
    background: none;
    border: none;
    font-size: 15px;
}

.profile:hover{
    cursor: pointer;
    color: #5ba5ef;
}

.voteBtn{
    background: none;
    border: none;
}

.voteBtn:hover{
    border: solid .5px;
    border-color: #5ba5ef;
    cursor: pointer;
}

.voteImg{
    height: 20px;
}

.replyImg{
    height: 15px;
}

.contentContainer{
    height: auto;
    padding: 5px;
}

.content{
    margin-left: 10px;
    word-wrap: break-word;
}

.font{
    font-family: Tahoma;
}

#comments{
    height: auto;
    padding: 5px;
}

.inputComment{
    margin-top: 5px;
    position: relative;
    font-family: Tahoma;
    font-size: 12;
    height: 75px;
    width: 99%;
    margin-left: 10px;
}

.inputReply{
    width: 100%;
    height: 75px;
    font-size: 12;
    font-family: Tahoma;
}

.CommentContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px; 
}

.commentProper{
    position: relative;
    font-family: Tahoma;
    font-size: 16;
    margin-left: 6px;
}

.replyContainer{
    position: relative;
    width: 70px; 
    margin-top: 10px;
    margin-left: 6px;
    display: flex;
    flex-direction: row;
}

.replyContainer:hover{
    cursor: pointer;
    color: #5ba5ef;
}

.indent1{
    position: relative;
    margin-left: 60px;
}

.indent2{
    position: relative;
    margin-left: 120px;
}

.indent3{
    position relative;
    margin-left:180px;
}


.w3-modal-content{
    width: 5px;
    height: 500px;
}
.w3-container{
    width: 5px;
    height: 0px;
}

.createButton{
    float: left;
    font-family: Tahoma;
    font-size: 15px;
    margin-top: 2px;
    margin-right: 0px;
    border-radius: 5px;
    width: 100px;
    background-color: white;
    border-style: groove;
}

.createTitle{
    float: left;
    font-family: Tahoma;
    font-size: 15px;
    margin-top: 8px;
    border-radius: 5px;
    height: 30px;
    width: 825px;
    background-color: white;
    border-style: groove;
}

.createBody{
    float: left;
    font-family: Tahoma;
    font-size: 15px;
    border-radius: 5px;
    height: 400px;
    width: 825px;
    background-color: white;
    border-style: groove;

}

#createPublish{
    float: right;
    font-family: Tahoma;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: white;
    border-style: groove;
}

.btn{
    background-color: white; 
    color: black;
    border: none;
    margin-right: 5px;
}

.btn:hover{
    background-color: #5ba5ef;
    color: white;
}

.btnDel:hover{
    background-color: red;
}

.modalTextInput{
    height: 200px;
    width: 200px;
}