<div class="header">
    <a href="/"><img class="headerLogo" src="./imgs/hdlogo.png"> Hot Dawgs</a>
    <a href="profile?user=AlexRotorReyes">My Profile</a>
    <input name="search" type="text" placeholder="Search"/>
    <a id="logout" href="/signin">Log Out</a>
</div>