<div class="header">
    <a href="/"><img class="headerLogo" src="logo.png"> Hot Dawgs</a>
    <a href="userprofile.html">My Profile</a>
    <input name="search" type="text" placeholder="Search"/>
    <a id="logout" href="/signin">Log Out</a>
</div>