<html>

    <head>
        <title>Hot Dawg Forum</title>
        <link rel="stylesheet" href="./common/index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body class="background">
        <div class="header">
            <a href="index.html"><img class="headerLogo" src="logo.png"> Hot Dawgs</a>
            <a href="userprofile.html">My Profile</a>
            <input name="search" type="text" placeholder="Search"/>
            <a id="logout" href="login.html">Log Out</a>
        </div>
        <div class="container">
            <div class="userPost">
                <div class="userPhoto1"></div>
                    <span class="info">
                        <span class="title">
                            <form action = "post" method="get">
                                
                                <input type="submit" value="The Queen's Dog Ran Away!"></input>
                                
                            </form>
                            
                        </span>
                        <span class="description">
                            "Who  let this dog out? Brits were shocked upon finding out this news."
                        </span>
                        <span class="comment">12</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <form action="profile" method="get">

                        <input type="submit" value="AlexRotorReyes"></input>
                
                    </form>        
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto2"></div>
                    <span class="info">
                        <span class="title">
                        <span class="title">
                            <a href="post2.html">Bieber Buys Dog For Fiancee!</a>
                        </span>
                        <span class="description">
                            "Baldwin was so happy when she saw Bieber carrying a 2-month old bulldog."
                        </span>
                        <span class="comment">50</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofileTadhg.html">TadhgMcCarthy</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto3"></div>
                    <span class="info">
                        <span class="title">
                            <a href="post3.html">Selena Gomez Buys New Dog</a>
                        </span>
                        <span class="description">
                            "After seeing her ex engaged, Gomez had to buy a new pup to keep her company in her home."
                        </span>
                        <span class="comment">37</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofilePao.html">PaoloDelosReyes</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto2"></div>
                    <span class="info">
                        <span class="title">
                            <a href="post4.html">Video of Dog Humping Pillow: VIRAL!</a>
                        </span>
                        <span class="description">
                            "My dog was being a little naughty the other day when he humped MY pillow!!!"
                        </span>
                        <span class="comment">69</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofileTadhg.html">TadhgMcCarthy</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto1"></div>
                    <span class="info">
                        <span class="title">
                            <a href="post5.html">I Own The World's Largest Dog</a>
                        </span>
                        <span class="description">
                            "My dog is a beast. He weighs almost 200 pounds and reaches my shoulder when sitting."
                        </span>
                        <span class="comment">7</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofile.html">AlexRotorReyes</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto3"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle6">iPhone For Dogs?</a>
                        </span>
                        <span class="description">
                            "Rumors are spreading that Apple will release an iPhone for dogs, but not confirmation yet..."
                        </span>
                        <span class="comment">80</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofilePao.html">PaoloDelosReyes</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto1"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle7">Can Dogs Eat Chocolate?!</a>
                        </span>
                        <span class="description">
                            "My dog accidentally ate my chocolate bar while I wasn't looking... HELP!!!"
                        </span>
                        <span class="comment">706</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofile.html">AlexRotorReyes</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto2"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle8">Can Dogs Use Tredmill Instead?</a>
                        </span>
                        <span class="description">
                            "Sometimes, I don't have any time to bring my dog out... WEBAPDE consumes all my time!"
                        </span>
                        <span class="comment">78</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofileTadhg.html">TadhgMcCarthy</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto2"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle9">What Makes Dogs Like Bones?</a>
                        </span>
                        <span class="description">
                            "I was watching my dog the other day eating his bone, and it got me thinking... WHY?"
                        </span>
                        <span class="comment">2</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofileTadhg.html">TadhgMcCarthy</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto3"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle10">Why Do Dogs Hate Cats?</a>
                        </span>
                        <span class="description">
                            "My dog won't shut up when he sees a cat. It's pissing me off. Someone, enlighten me."
                        </span>
                        <span class="comment">92</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofilePao.html">PaoloDelosReyes</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto2"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle11">5 Reasons Why Chichuachuas are Scary</a>
                        </span>
                        <span class="description">
                            "Everyone has a story we don't know... even dogs. Read to learn more."
                        </span>
                        <span class="comment">21</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofileTadhg.html">TadhgMcCarthy</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto1"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle12">Top 5 Cutest Puppies</a>
                        </span>
                        <span class="description">
                            "Been wanting to buy a new pup. Any suggestions?"
                        </span>
                        <span class="comment">403</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofile.html">AlexRotorReyes</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto2"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle13">My Dog Just Ate Catnip. Will He Die?</a>
                        </span>
                        <span class="description">
                            "My dog ate catnip and has been acting weirdly since. Should I be worried?"
                        </span>
                        <span class="comment">46</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofileTadhg.html">TadhgMcCartney</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto3"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle14">Do Girls Find Chihuahuas Scary?</a>
                        </span>
                        <span class="description">
                            "Thinking of getting my girlfriend one. Do you think she'll like it?"
                        </span>
                        <span class="comment">83</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofilePao.html">PaoloDelosReyes</a>
                </div>
            </div>
            
            <div class="userPost">
                <div class="userPhoto1"></div>
                    <span class="info">
                        <span class="title">
                            <a href="#TitleArticle15">Why Do Dogs Have Red Eyes in Pics?</a>
                        </span>
                        <span class="description">
                            "I keep on trying to take cute pics of my dog, but she just ends up looking scary. Help!"
                        </span>
                        <span class="comment">24</span>
                        <span class="downvote"></span>
                        <span class="upvote"></span> 
                </span>
                <div class="author">
                    <a href="userprofile.html">AlexRotorReyes</a>
                </div>
            </div>  
        </div>
        <div class="footer">
            <div class="w3-container">
                <button onclick="document.getElementById('id01').style.display='block'" class="createButton">Create Post</button>
                <div id="id01" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <form action="create-post" method="post">
                                <div><input name="title" class="createTitle" type="text" placeholder="Title"/>
                                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                </div>
                                <div>
                                    <input name="content" class="createBody" type="text" placeholder="What's happening today?"/>

                                </div>
                                <div>
                                    <form action="create-post" method="post">
                                    <button id="createPublish" onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-bottomright" type="submit">Publish</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <button id="sitemap" type="submit"> <a href="site-map.html" id="sitemapA">Site-map</a> </button>
<!--            <button class="createPost">Create Post</button>       -->
            <button id="backToTop" type="submit">Back To Top </button>
        </div>
        
    </body>

</html>     