<html>

    <head>
        <title>AlexRotorReyes' Profile</title>
        <link rel="stylesheet" href="./common/userprofile.css" />
    </head>

    <body class="background"> 
        <div class="header">
            <a href="index.html"><img class="headerLogo" src="logo.png"> Hot Dawgs</a>
            <a href="userprofile.html">My Profile</a>
            <input name="search" type="text" placeholder="Search"/>
            <a id="logout" href="login.html">Log Out</a>
        </div>
        
            <div class="displayUserwFlex">
                <div class="displayUser">
                    <div>
                        <img class="dp" src="https://scontent.fmnl9-1.fna.fbcdn.net/v/t1.0-9/31760106_2333751743306960_3459047461971034112_n.jpg?_nc_cat=0&oh=fef3c4b90df881f05f94adad1a5ec0a6&oe=5BDA980E">
                        <div class="usernameProfile">
                            AlexRotorReyes
                        </div>
                        <div class="commentsNumber">
                            4
                        </div>
                        <div class="likesNumber">
                            5
                        </div>
                        <div class="commentsText">
                            Comments
                        </div>
                        <div class="likesText">
                            Posts
                        </div>
                        <div class="comlikeSplit">
                            |
                        </div>
                    </div>
                </div>
                <div class="userDescription">
                    "Alex Reyes is enjoying her second season as Anne Hathaway in the Off-Broadway production of The 39 Steps. Reyes is also known for her roles as Miss Robin in Spamalot and Raoul in The Phantom of the Opera. Reyes played Leni in the original Broadway cast of Rock of Ages. She also recently bared it all as part of the touring cast of The Full Monty, in which she played Amanda Horsefall. Reyes studied acting at Carnegie Mellon before moving to New York in 2016 to pursue her career."
                </div>
                <div class="userFeed">
                    <div class="userPost">
                        <div class="postTitle">
                            <a class="profileText" href="post1.html">The Queen's Dog Ran Away!</a>
                        </div>
                        <div class="postDesc">
                            Who let this dog out? Brits were shocked upon finding out this news. 
                        </div>
                        <div class="commentsPart">
                            <img class="dpComments" src="comment.png"> 3 Comments
                        </div>
                        <div class="editPart">
                            <img class="dpComments" src="edit.png"> Edit
                        </div>
                        <div class="deletePart">
                            <img class="dpComments" src="waste.png"> Delete
                        </div>
                        <div class="votePart">
                            <div>
                                <img class="smallUp" src="upvote.png">
                            </div>
                            <div>
                                <img class="smallDown" src="downvote.png">
                            </div>
                            <div class="voteNumbers">
                                12
                            </div>
                        </div>
                        <div class="dateTime">
                            July 9, 2018 12:47PM
                        </div>
                    </div>
                    <div class="userPost">
                        <div class="postTitle">
                            <a class="profileText" href="post5.html">I Own The World's Largest Dog!</a>
                        </div>
                        <div class="postDesc">
                            My dog is a beast. He weighs almost 200 pounds and reaches my shoulder when sitting.
                        </div>
                        <div class="commentsPart">
                            <img class="dpComments" src="comment.png"> 5 Comments 
                        </div>
                        <div class="editPart">
                            <img class="dpComments" src="edit.png"> Edit
                        </div>
                        <div class="deletePart">
                            <img class="dpComments" src="waste.png"> Delete
                        </div>
                        <div class="votePart">
                            <div>
                                <img class="smallUp" src="upvote.png">
                            </div>
                            <div>
                                <img class="smallDown" src="downvote.png">
                            </div>
                            <div class="voteNumbers">
                                7
                            </div>
                        </div>
                        <div class="dateTime">
                            July 4, 2018 2:14PM
                        </div>
                    </div>
                    <div class="userPost">
                        <div class="usernameCommented">
                            <a class="profileText" href="post4.html">AlexRotorReyes commented on TadhgMcCarthy's post.</a>
                        </div>
                        <div class="actualComment">
                            "OMG!!! THAT IS SO FUNNYYYY HAHAHAH"
                        </div>
                        <div class="commentDate">
                            June 29, 2018 6:31PM
                        </div>
                        <div class="editComment">
                            <img class="dpComments" src="edit.png"> Edit
                        </div>
                        <div class="deleteComment">
                            <img class="dpComments" src="waste.png"> Delete
                        </div>
                        <div class="votePart">
                            <div>
                                <img class="smallUp" src="upvote.png">
                            </div>
                            <div>
                                <img class="smallDown" src="downvote.png">
                            </div>
                            <div class="voteNumbers">
                                2
                            </div>
                        </div>
                    </div>
                    <div class="userPost">
                        <div class="usernameCommented">
                            <a class="profileText" href="post3.html">AlexRotorReyes commented on PaoloDelosReyes' post.</a>
                        </div>
                        <div class="actualComment">
                            "OMG!!! WHAT IS WRONG WITH YOU"
                        </div>
                        <div class="commentDate">
                            June 14, 2018 3:08PM
                        </div>
                        <div class="editComment">
                            <img class="dpComments" src="edit.png"> Edit
                        </div>
                        <div class="deleteComment">
                            <img class="dpComments" src="waste.png"> Delete
                        </div>
                        <div class="votePart">
                            <div>
                                <img class="smallUp" src="upvote.png">
                            </div>
                            <div>
                                <img class="smallDown" src="downvote.png">
                            </div>
                            <div class="voteNumbers">
                                4
                            </div>
                        </div>
                    </div>
                    <div class="userPost">
                        <div class="postTitle">
                            Can Dogs Eat Chocolates?!
                        </div>
                        <div class="postDesc">
                           My dog accidentally ate my chocolate bar while I wasn't looking... HELP!!!
                        </div>
                        <div class="commentsPart">
                            <img class="dpComments" src="comment.png"> 1 Comments
                        </div>
                        <div class="editPart">
                            <img class="dpComments" src="edit.png"> Edit
                        </div>
                        <div class="deletePart">
                            <img class="dpComments" src="waste.png"> Delete
                        </div>
                        <div class="votePart">
                            <div>
                                <img class="smallUp" src="upvote.png">
                            </div>
                            <div>
                                <img class="smallDown" src="downvote.png">
                            </div>
                            <div class="voteNumbers">
                                706
                            </div>
                        </div>
                        <div class="dateTime">
                            Jan 1, 2018 11:25AM
                        </div>
                    </div>
                    <div class="seeMore">
                        See More
                    </div>
                </div>
            </div>
        
    </body>

</html>