<div class="userPost">
    <div class="usernameCommented">
        <a class="profileText" href="post4.html"><%= user %> commented on "<%= parentPost %>"</a>
    </div>
    <div class="actualComment">
        <%= content %>
    </div>
    <div class="commentDate">
        June 29, 2018 6:31PM
    </div>
    <div class="editComment">
        <img class="dpComments" src="edit.png"> Edit
    </div>
    <div class="deleteComment">
        <img class="dpComments" src="waste.png"> Delete
    </div>
</div>