<div class="userPost">
    <div class="postTitle">
        <form action = "post" method="get">
            <input class="extLink" name="title" type="submit" value="<%=title%>"/>
        </form>
    </div>
    <div class="postDesc">
        <%= desc %>
    </div>
    <div class="commentsPart">
<!--        <img class="dpComments" src="comment.png"> 3 Comments-->
    </div>
    <div class="editPart">
        <img class="dpComments" src="./imgs/edit.png"> Edit
    </div>
    <div class="deletePart">
        <img class="dpComments" src="./imgs/waste.png"> Delete
    </div>
    <div class="votePart">
        <div>
            <img class="smallUp" src="./imgs/upvote.png">
        </div>
        <div>
            <img class="smallDown" src="./imgs/downvote.png">
        </div>
        <div class="voteNumbers">
            <%= likes %>
        </div>
    </div>
    <div class="dateTime">
        July 9, 2018 12:47PM
    </div>
</div>